/*calendar*/


.month {
    border-collapse: collapse;
    table-layout: fixed;
    width: 1000px;
    height: 800px;
    margin-bottom: 10%;
}


/*星期幾*/
.month th {
    border-bottom: none;
    padding: 3px 2px 2px;
    /*內距   上 左右 下 */
    background-color: rgb(172, 144, 144);
    color: #333;
    font-size: 30px;
    font-family: 微軟正黑體;
}

.month td {
    font-size: 100 px;
    font-family: 微軟正黑體;
    padding: 2px 2px;
    margin: 0;
    vertical-align: top;
}

.month td.next {
    background-color: #eee;
    color: #A6A6A6;
}


.month ul {
    list-style-type: none;
    margin: 3px;
    padding: 0;
}

.month li {
    /*活動*/
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 4px;
    margin-bottom: 7px;
    height: 34px;
    width: 120px;
    background-color: rgb(197, 197, 197);
}

td:hover {
    background-color: rgb(172, 144, 144)
}